@use 'variables' as *

@mixin flex 
    display: flex
    justify-content: center
    align-items: center

@mixin title_colored
    font-weight: 700
    background: linear-gradient(to left, $portage 0%,  $my-sin 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

@mixin h1 
    color: $white
    font-size: 40px
    font-weight: 600
    letter-spacing: 1px

@mixin h2
    color: $white
    font-size: 36px
    font-weight: 500

@mixin h3
    color: $white
    font-size: 24px
    font-weight: 600

@mixin h4
    color: $white
    font-size: 24px
    font-weight: 600